name: "Launch Designer - LocalDocker"
version: "1.0"
description: "Launches Ignition Designer for LocalDocker application with credentials from vault"
domain: designer

parameters:
  - name: project_name
    type: string
    required: true
    description: "Name of the Designer project to open (e.g., 'Test')"

  - name: designer_shortcut
    type: string
    required: false
    default: "C:\\Program Files\\Inductive Automation\\Designer Launcher\\designerlauncher.exe -Dapp.home=C:\\Users\\Nigel.Gaskin\\.ignition\\clientlauncher-data -Dapplication=LocalDocker"
    description: "Designer launcher shortcut command (default is for LocalDocker)"

  - name: gateway_credential
    type: credential
    required: true
    description: "Gateway credential to use for Designer login"

steps:
  # Launch Designer with shortcut method
  - id: launch_designer
    name: "Launch Designer and open project"
    type: designer.launch_shortcut
    parameters:
      designer_shortcut: "{{ designer_shortcut }}"
      project_name: "{{ project_name }}"
      gateway_credential: "{{ gateway_credential }}"
      timeout: 60
    timeout: 90
    retry_count: 1
    retry_delay: 5
    on_failure: abort

  # Log completion
  - id: log_complete
    name: "Log success"
    type: utility.log
    parameters:
      message: "Designer opened successfully for project '{{ project_name }}'"
    on_failure: continue
