name: "Web Login Test"
version: "1.0"
description: "Test login flow on a web application"

parameters:
  - name: login_url
    type: string
    required: true
    description: "Login page URL"

  - name: username
    type: string
    required: true
    description: "Username for login"

  - name: password_credential
    type: credential
    required: true
    description: "Password credential from vault"

  - name: username_selector
    type: string
    required: true
    description: "CSS selector for username field"
    default: "#username"

  - name: password_selector
    type: string
    required: true
    description: "CSS selector for password field"
    default: "#password"

  - name: submit_selector
    type: string
    required: true
    description: "CSS selector for submit button"
    default: "button[type='submit']"

steps:
  - id: navigate
    name: "Navigate to Login Page"
    type: browser.navigate
    parameters:
      url: "{{ parameter.login_url }}"
      wait_until: "domcontentloaded"
    timeout: 30

  - id: screenshot_before
    name: "Screenshot Before Login"
    type: browser.screenshot
    parameters:
      name: "login_page_before"
      full_page: true
    timeout: 10

  - id: fill_username
    name: "Fill Username"
    type: browser.fill
    parameters:
      selector: "{{ parameter.username_selector }}"
      value: "{{ parameter.username }}"
    timeout: 10

  - id: fill_password
    name: "Fill Password"
    type: browser.fill
    parameters:
      selector: "{{ parameter.password_selector }}"
      value: "{{ credential.password_credential.password }}"
    timeout: 10

  - id: screenshot_filled
    name: "Screenshot After Filling Form"
    type: browser.screenshot
    parameters:
      name: "login_page_filled"
      full_page: true
    timeout: 10

  - id: click_submit
    name: "Click Submit Button"
    type: browser.click
    parameters:
      selector: "{{ parameter.submit_selector }}"
    timeout: 10

  - id: wait_navigation
    name: "Wait for Navigation"
    type: utility.sleep
    parameters:
      seconds: 3

  - id: screenshot_after
    name: "Screenshot After Login"
    type: browser.screenshot
    parameters:
      name: "login_page_after"
      full_page: true
    timeout: 10

metadata:
  author: "Ignition Toolkit"
  category: "browser"
  tags: ["browser", "login", "web", "testing"]
